/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
h1 {
    background-color: #14495d;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

/* Container Styling */
    #datePicker, #myCal {
    margin: 20px auto;
    max-width: 600px;
}

/* Table Styling */
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;
    background-color: #ffffff;
}

th {
    border: 1px solid black;
    padding: 6px;
    font-weight: bold;
    background: #ccc;
}

td {
    border: 1px solid black;
    padding: 6px;
    vertical-align: top;
    width: 100px;
}
