body {
  margin: 0;
  padding: 0;
  min-width: 525px;
  font-family: Arial, sans-serif;
  background-color: #522D80; /* Clemson Purple */
  color: #FFFFFF;
}

header {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #F66733; /* Clemson Orange */
  padding: 20px 0;
}

footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #522D80; /* Clemson Purple */
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
  padding: 20px;
  font-weight: bold;
}

#wrapper {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 125px;
  padding-right: 125px;
  box-sizing: border-box;
  min-height: auto;
}

#right_side {
  position: relative;
  float: left;
  width: 125px;
  background-color: #F66733; /* Clemson Orange */
  margin-right: -125px;
  padding: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
}

#content_area {
  position: relative;
  float: left;
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  color: #522D80;
}


/* Responsive Design for Small Screens */
@media (max-width: 768px) {
  #wrapper {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }

  #right_side {
    width: 100%;
    position: relative;
    margin: 0;
  }

  #content_area {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header img {
    max-width: 100%;
    height: auto;
  }

  footer {
    font-size: 12px;
  }
}
